* {
    box-sizing: border-box;
}

body{
    background-color:  rgb(30,30,30);
    height : 100vh ;
    width : 100vw ;
    margin-inline: 60px;
    display :flex;align-items :center; justify-content:  flex-start;;;
    overflow: hidden;
        gap : 100px
}


.container {
    display :flex;align-items: center;justify-content: center;flex-wrap: wrap;
    height : clamp(291px , 72vh , 81vh); aspect-ratio: 1;
    background-color : none
}


.outer-container,.EXII {
    display :flex;align-items: center;justify-content: center;flex-wrap: wrap;
    height : calc(90px + (clamp(201px , 72vh , 81vh))); aspect-ratio: 1;
    background-color : rgb(139,69,19);
    border-radius: 10px;
    position: relative;
}

.blocks {
    height : clamp(36.375px , 9vh , 10.125vh) ; aspect-ratio: 1;
    background-color:  rgb(240,217,181);
border : 1px solid rgb(50,50,50) ;
display: flex;; align-items: center;justify-content: center;
cursor : pointer;
transition: all 0.1 ease-in-out;

}


.dark_block {
    background-color: rgb(125,95,60) !important;
}

img{
    height : 70%;
    object-fit: cover;}

.blocks.Active.notClicked.ActiveA:hover {
    background-color: whitesmoke;
}

.blocks.dark_block.Active.notClicked.ActiveA:hover {
    background-color: whitesmoke !important
}


.blocks.Active.Clicked.ActiveA {
    background-color: whitesmoke;
}

.blocks.dark_block.Active.Clicked.ActiveA {
    background-color: whitesmoke !important
}

.movable
{
    background-color: rgb(144,238,144) !important;
    opacity: 1;
}

.attackable {
    opacity : 1  /*still i think i need to add colors to this */
}

.enemyMove {
    background-color: red !important;
}

.blocks{
    user-select: none;
}

.AA {
    pointer-events: auto !important;
}

.NA {
    cursor : not-allowed !important;
    pointer-events: none !important;
}


:not(.noEvents).blocks.Active:not(.enemyMove):not(.ActiveA){
    cursor: not-allowed !important;
    filter:  brightness(90%) !important;
}

@media screen and (max-width : 740px){
    body {margin-inline : 5px !important }
}

@media screen and (max-width : 400px){
    .outer-container {
        height : 190px !important
    }
}


.xyz{
    background-color: blue;
}



.Result {
    transform: scale(0);
    position: absolute;
    height : clamp(291px , 72vh , 81vh); aspect-ratio: 1;
    background-color: rgb(125,95,60) !important;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    filter:blur(0px)
}

.blurit
{
    filter : blur(2px)
}


.EXII 
{
    background-color: transparent !important;
    border : 1px solid white;
}

.dfs
{
    height: clamp(72.750px , 18vh , 20.250vh);
    width : clamp(291px , 73vh , 81vh);
    display: flex;align-items: center;justify-content: center;flex-wrap: wrap;
    border : 1px dotted rgba(255,255,255,0.5);
    border-radius : 9px;
}


.whitedfs , .blackdfs

{
    height: clamp(36.375px , 9vh , 10.125vh);
    aspect-ratio: 1 ;
    cursor:not-allowed;
}

.white_Pw_choices , .black_Pw_choices
{
    height: clamp(36.375px , 9vh , 10.125vh);
    aspect-ratio: 1;
    display: flex;align-items: center;justify-content: center;
}

.pwchange
{
    display: flex;;align-items: center;justify-content: center;flex-direction: row;
    border : 1px solid aqua;
    border-radius: 0px;
}


.white_Pw_choices:hover , .black_Pw_choices:hover 
{
    background-color: aqua;
    cursor: pointer;
}

.pwchange{
    opacity: 0;
}

.dfss
{
    align-items: center;
    justify-content: center;
    display: flex;
}

.noEvents{pointer-events: none;filter :brightness(40%)}

